@media screen and (min-width: 800px){
    .loading-load-load{
        height: auto;
        width: auto;
        text-align: center;
    }
    .container-loading{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 60px;
    }
    
    
    .ring{
        width: 100px;
        height: 100px;
        border: 0px solid black;
        border-radius: 50%;
        position: absolute;
    }
    
    .ring:nth-child(1){
        border-bottom-width: 8px;
        border-color: blueviolet;
        animation: rotate1 2s linear infinite;
    }
    
    .ring:nth-child(2){
        border-right-width: 8px;
        border-color: rgb(38, 18, 56);
        animation: rotate2 2s linear infinite;
    }
    .ring:nth-child(3){
        border-top-width: 8px;
        border-color: rgb(3, 22, 128);
        animation: rotate3 2s linear infinite;
    }
    
    .loading-loader{
        color: black;
        text-transform: capitalize;
    }
    
    @keyframes rotate1{
        0%{
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
        }
        100%{
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
        }
    }
    
    @keyframes rotate2{
        0%{
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
        }
        100%{
            transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
        }
    }
    
    @keyframes rotate3{
        0%{
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
        }
        100%{
            transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
        }
    }
}
@media screen and (max-width: 800px){
    .loading-load-load{
        height: auto;
        width: auto;
        text-align: center;
        margin-top: 100px;
    }
    .container-loading{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 60px;
    }
    
    
    .ring{
        width: 100px;
        height: 100px;
        border: 0px solid black;
        border-radius: 50%;
        position: absolute;
    }
    
    .ring:nth-child(1){
        border-bottom-width: 8px;
        border-color: blueviolet;
        animation: rotate1 2s linear infinite;
    }
    
    .ring:nth-child(2){
        border-right-width: 8px;
        border-color: rgb(38, 18, 56);
        animation: rotate2 2s linear infinite;
    }
    .ring:nth-child(3){
        border-top-width: 8px;
        border-color: rgb(3, 22, 128);
        animation: rotate3 2s linear infinite;
    }
    
    .loading-loader{
        color: black;
        text-transform: capitalize;
    }
    
    @keyframes rotate1{
        0%{
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
        }
        100%{
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
        }
    }
    
    @keyframes rotate2{
        0%{
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
        }
        100%{
            transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
        }
    }
    
    @keyframes rotate3{
        0%{
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
        }
        100%{
            transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
        }
    }
}